.card-img-top{
  height: 500px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: black;
}

.card {
  flex: 0 0 calc(33.33% - 10px); /* 3 cards per row with 10px gap */
  /* Adjust the above width calculation based on your desired spacing */

  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ff0303;
  background-color: black;
}

.card-body{
  color: white;
}