.navbar {
  background-color:black;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}



.nav-links a:first-child {
  margin-left: 0;
}


